
/* COLOR variables */

:root {
    --main-orange-color: #e67e22;
    --dark-orange-color: #b36018;
}


/* Default styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/* General page tags*/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

section{
    padding: 80px 0;;
}

h1,
h2,
h3 {
    font-weight: 400;
    text-transform: uppercase;
}
h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;

}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;

}

h3 {
    font-size: 110%;
    word-spacing: 2px;
    margin-bottom: 15px;

}

/* Reusable */

.row {
    max-width: 1140px;
    margin: 0 auto 0 auto;
}

.box {
    padding: 1%;
}


/* HEADER */

.hero-text-box  {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.logo {
    height: 130px;
    width: auto;
    float: left;
    margin-top: 20px;
}


/* header navigation */

.main-nav {
    float: right;
    list-style: none;
    margin-top: 50px;

}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited
 {
     padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s;

}

.main-nav li a:hover,
.main-nav li a:active
 {
    border-bottom: 2px solid var(--main-orange-color);

}


/* header buttons */

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    color:#fff;
    text-decoration: none;
    border-radius: 100px;
    border: 1px solid var(--main-orange-color);
    transition: background-color 0.5s;
}

 .btn-full:link,
.btn-full:visited{
    background-color: var(--main-orange-color);
    margin-right: 10px;

}

.btn-ghost:link,
.btn-ghost:visited{
    color: var(--main-orange-color);

}

.btn:hover,
.btn:active {
    background-color: var(--dark-orange-color);
    border: 1px solid var(--dark-orange-color);
    color: #fff;
}


/* FEATURES section */

h2::after {
    display: block;
    height: 2px;
    background-color: var(--main-orange-color);
    content: " ";
    width:100px;
    margin: 30px auto 30px auto;
}

.long-copy {
    line-height: 150%;
    width: 70%;
    margin-left: 15%;
}

.box p{
    font-size: 90%;
    line-height: 150%;
}

/* Icons */
.icon-big {
    font-size: 300%;
    color:var(--main-orange-color);
    display: block;
    margin-bottom: 20px;
}
